@CHARSET "UTF-8";

#sector {
	height: 600px;
}

#nav-left {
	float: left;
	width: 200px;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 18px;
}

#nav-left ul {
	list-style-type: none;
	text-align: left;
}

#nav-left li {
	padding: 8px 10px;
	background-color: #EDE8DA;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url("../images/DHNCweb_page_ok_r7_c3.gif");
}

#nav-left li.ac {
	background-color: #009244;
}

#nav-left li.last {
	padding: 5px 10px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url("../images/DHNCweb_page_ok_r9_c3.gif");
}

#nav-left li a {
	color: #663300;
}

#nav-left li.ac a {
	color: #FFFFFF;
}

#sec-content {
	float: right;
	width: 800px;
	padding-top: 10px;
}

#content-left {
	text-align: left;
	float: left;
	width: 400px;
	padding-right: 15px;
}

#content-left p{
	padding-top: 15px;		
}

#content-right {
	text-align: left;
	float: left;
	width: 300px;
}

#content-right img {
	margin-bottom: 2px;
}

#content-right p{
	padding-bottom: 20px;		
<<<<<<< HEAD
}

#content-bottom {	
	padding-top: 20px;
	text-align: left;
}

#content-bottom img {
}

#content-bottom .img1 {	
	padding-top: 40px;
	padding-left: 30px;
}

#content-bottom .img2 {	
	padding-top: 40px;
	padding-left: 60px;
=======
>>>>>>> 2acc6ad5e517dde489bc7f6c3f06198c57e4ef66
}